@inherits Simplisity.RazorEngineTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using CDSviewerDNN.Components

@{
    var serviceData = (ServiceDataLimpet)Model.List.First();
    var moduleData = (ModuleDataLimpet)Model.GetDataObject("moduledata");
    var idx = 0;
}

<div id="servicessection" class="w3-container">

    <div class="w3-quarter w3-hide-small w3-hide-medium">&nbsp;</div>

    <div class="w3-half">

        <div class="w3-bar w3-margin-bottom">
            <span class="w3-button w3-teal " onclick="$('#servicecodepopup').show()">
                <span class="material-icons">
                    save
                </span>
                @LocalUtils.GetLocalizeString("addservice", "/DesktopModules/CDSviewerDNN/App_LocalResources/Services")
            </span>
        </div>


        <div id="servicecodepopup" class="w3-modal">
            <div class="w3-modal-content">
                <div class="w3-container">
                    <span onclick="document.getElementById('servicecodepopup').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <div class="w3-row w3-padding w3-margin-top">
                        <label>@LocalUtils.GetLocalizeString("servicecode", "/DesktopModules/CDSviewerDNN/App_LocalResources/Services")</label>
                        @TextArea(new SimplisityInfo(), "genxml/textbox/servicecode", " class='w3-input w3-border' style='height:260px;' ")
                    </div>
                    <div class="w3-row w3-center w3-padding">
                        <div class="w3-button w3-teal simplisity_click" s-cmd="services_savedata" s-post="#servicessection" s-fields='{"moduleref":"@(moduleData.ModuleRef)"}' s-reload="true">
                            <span class="material-icons">
                                save
                            </span>
                            @LocalUtils.GetLocalizeString("save", "/DesktopModules/CDSviewerDNN/App_LocalResources/Services")
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-container w3-padding">

            <table class="w3-table w3-bordered">
                <tr>
                    <th>Service</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (SimplisityRecord serviceRec in serviceData.GetServices())
                {
                    <tr>
                        <td style="width:60px;">
                            <span class="w3-button w3-right simplisity_click" s-cmd="services_selectservice" s-reload="true" s-fields='{"moduleref":"@(moduleData.ModuleRef)","servicecodeidx":"@(idx)"}'>
                                @if (serviceRec.GetXmlProperty("genxml/config/serviceref") == moduleData.ServiceRef)
                                {
                                    <span class="material-icons w3-text-green">check_circle_outline</span>
                                }
                                else
                                {
                                    <span class="material-icons">radio_button_unchecked</span>
                                }
                            </span>
                        </td>
                        <td style="vertical-align: middle;">
                            <a class="w3-button" href="@(moduleData.EngineUrl)\@(moduleData.SystemKey)" target="_blank" style="text-decoration: none;">
                                @serviceRec.GetXmlProperty("genxml/name")
                            </a>
                        </td>
                        <td style="width:60px;">
                            <span class="w3-button w3-right simplisity_confirmclick" s-confirm="@LocalUtils.GetLocalizeString("remove", "/DesktopModules/CDSviewerDNN/App_LocalResources/Services") ?" s-cmd="services_delete" s-reload="true" s-fields='{"moduleref":"@(moduleData.ModuleRef)","servicecodeidx":"@(idx)"}'>
                                <span class="material-icons">
                                    remove
                                </span>
                            </span>
                        </td>
                    </tr>
                    idx += 1;
                }
            </table>

        </div>
    </div>

        <div class="w3-quarter w3-hide-small w3-hide-medium">&nbsp;</div>

    </div>
<div class="w3-row w3-padding w3-tiny">
    <span>moduleref:&nbsp;@(moduleData.ModuleRef)</span>
</div>
<script>
    $(document).ready(function () {
    });
</script>
